body{
    background-image:url(Ret.jpg) ;
}




*{
    margin: 0;
    padding: 0;
}

.home{
    border: 3px solid black;
    width: 550px;
    height: 600px;
    background-image: url(11.webp);

}